/* PAGE BACKGROUND */
.login-container[b-pilvy6q31j] {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.login-card[b-pilvy6q31j] {
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
}

/* TITLE */
.login-card h2[b-pilvy6q31j] {
    color: teal;
    margin-bottom: 25px;
}

/* FORM */
.form-group[b-pilvy6q31j] {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label[b-pilvy6q31j] {
    color: teal;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

.form-group input[b-pilvy6q31j] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

/* BUTTONS */
.btn-login[b-pilvy6q31j] {
    width: 100%;
    padding: 10px;
    background: teal;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-signup[b-pilvy6q31j] {
    width: 100%;
    padding: 10px;
    background: teal;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
}