/* =========================
   GLOBAL
========================= */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
}

/* =========================
   LAYOUT
========================= */

.layout {
    display: flex;
    height: 100vh;
    background: #f4f7fa;
}

/* =========================
   SIDEBAR
========================= */

.sidebar {
    width: 250px;
    background: teal;
    color: white;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

/* =========================
   MENU
========================= */

.menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.menu a {
    display: block;
    padding: 12px 16px;
    border-radius: 8px;
    color: rgba(255,255,255,.85);

    text-decoration: none !important;
    border-bottom: none !important;

    cursor: pointer;
    transition: all .2s ease;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial;
}

.menu a:hover {
    background: rgba(255,255,255,.15);
    color: white;
}

.menu a.active {
    background: rgba(255,255,255,.22);
    color: white;
    font-weight: 600;
}

/* =========================
   MAIN
========================= */

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* =========================
   TOPBAR
========================= */

.topbar {
    height: 65px;
    background: white;
    border-bottom: 1px solid #e5e7eb;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0 25px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-avatar {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: teal;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
}

.user-name {
    color: #334155;
    font-weight: 600;
}

/* =========================
   PAGE CONTENT
========================= */

.content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background: #f8fafc;
}

/* =========================
   SCROLLBAR
========================= */

.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {

    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .topbar {
        justify-content: center;
    }
}