/* PAGE */
.role-container[b-9928t75s4p] {
    padding: 24px;
    background: #f5f9fb;
    min-height: 100%;
    color: teal;
    font-family: 'Segoe UI', sans-serif;
}

/* HEADER */
.header-row[b-9928t75s4p] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    gap: 20px;
}

.header-actions[b-9928t75s4p] {
    display: flex;
    gap: 12px;
    align-items: center;
}

.h2[b-9928t75s4p] {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    color: teal;
}

/* BUTTONS */
.btn-primary[b-9928t75s4p] {
    background: teal;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 18px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

.btn-primary:hover[b-9928t75s4p] {
    background: #0f766e;
}

.btn-secondary[b-9928t75s4p] {
    background: #f2fbfb;
    color: teal;
    border: 1px solid #cfe7e7;
    border-radius: 12px;
    padding: 10px 14px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

.btn-secondary:hover[b-9928t75s4p] {
    background: teal;
    color: white;
}

/* EXPORT */
.btn-export[b-9928t75s4p] {
    background: #e6f7f6;
    color: teal;
    border: 1px solid #cfe7e7;
    border-radius: 12px;
    padding: 10px 14px;
    font-size: 13px;
    cursor: pointer;
}

.btn-export:hover[b-9928t75s4p] {
    background: teal;
    color: white;
}

/* TABLE CARD */
.table-card[b-9928t75s4p] {
    background: white;
    border-radius: 20px;
    border: 1px solid #dceeee;
    overflow-x: auto;
}

/* TABLE */
table[b-9928t75s4p] {
    width: 100%;
    border-collapse: collapse;
    min-width: 1200px;
}

th[b-9928t75s4p] {
    background: #f7fbfb;
    padding: 16px;
    text-align: left;
    font-size: 13px;
    color: #6b8b8b;
    border-bottom: 1px solid #dceeee;
}

td[b-9928t75s4p] {
    padding: 16px;
    border-bottom: 1px solid #edf7f7;
    font-size: 14px;
    color: teal;
}

tr:hover[b-9928t75s4p] {
    background: #f9fdfd;
}

/* STATUS */
.status[b-9928t75s4p] {
    background: #d1f2ef;
    color: teal;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 12px;
}

/* ACTIONS */
.action-buttons[b-9928t75s4p] {
    display: flex;
    gap: 10px;
}

/* MATRIX */
.matrix-card[b-9928t75s4p] {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 18px;
    border: 1px solid #dceeee;
}

.matrix-card h4[b-9928t75s4p] {
    margin-bottom: 15px;
    color: teal;
}

.matrix-table input[type="checkbox"][b-9928t75s4p] {
    transform: scale(1.2);
    cursor: pointer;
}

/* SAVE */
.save-bar[b-9928t75s4p] {
    margin-top: 15px;
}

/* RESPONSIVE */
@media(max-width:900px) {
    .header-row[b-9928t75s4p] {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-actions[b-9928t75s4p] {
        flex-wrap: wrap;
    }
}