@page "/"
@layout LoginLayout
@inject NavigationManager nav

<div class="login-container">
    <div class="login-card">

        <h2>Login</h2>

        <div class="form-group">
            <label>Username</label>
            <input type="text" @bind="username" />
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" @bind="password" />
        </div>

        <button class="btn-login" @onclick="LoginUser">Login</button>

        <button class="btn-signup">New User? Sign Up</button>

    </div>
</div>

@code {
    string username;
    string password;

  
void LoginUser()
{
    nav.NavigateTo("/patient/dashboard", true);
}
}