.create-container[b-ype802aed8] {
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
}

/* HEADER */
.header-section[b-ype802aed8] {
    margin-bottom: 24px;
}

.page-title[b-ype802aed8] {
    color: teal;
    font-size: 30px;
    margin-bottom: 6px;
    font-weight: 600;
}

.page-subtitle[b-ype802aed8] {
    color: #6f8f8f;
    font-size: 15px;
}

/* CARD */
.card[b-ype802aed8] {
    background: white;
    border: 1px solid #d9ecec;
    border-radius: 20px;
    padding: 28px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.04);
}

/* FORM */
.form-grid[b-ype802aed8] {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 22px;
}

.full-width[b-ype802aed8] {
    grid-column: span 3;
}

/* LABELS */
label[b-ype802aed8] {
    display: block;
    margin-bottom: 8px;
    color: teal;
    font-size: 14px;
}

/* INPUTS */
input[b-ype802aed8],
select[b-ype802aed8],
textarea[b-ype802aed8] {
    width: 100%;
    border: 1px solid #cfe5e5;
    border-radius: 14px;
    padding: 12px 14px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s;
}

input:focus[b-ype802aed8],
select:focus[b-ype802aed8],
textarea:focus[b-ype802aed8] {
    border-color: teal;
}

textarea[b-ype802aed8] {
    min-height: 140px;
    resize: vertical;
}

/* ACTIONS */
.actions[b-ype802aed8] {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    margin-top: 28px;
}

/* BUTTONS */
.btn-save[b-ype802aed8],
.btn-cancel[b-ype802aed8] {
    height: 48px;
    padding: 0 22px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
}

.btn-save[b-ype802aed8] {
    background: teal;
    color: white;
}

.btn-cancel[b-ype802aed8] {
    background: #edf7f7;
    color: teal;
}

/* RESPONSIVE */
@media(max-width:1100px) {

    .form-grid[b-ype802aed8] {
        grid-template-columns: repeat(2,1fr);
    }

    .full-width[b-ype802aed8] {
        grid-column: span 2;
    }
}

@media(max-width:700px) {

    .form-grid[b-ype802aed8] {
        grid-template-columns: 1fr;
    }

    .full-width[b-ype802aed8] {
        grid-column: span 1;
    }

    .actions[b-ype802aed8] {
        flex-direction: column;
    }

    .btn-save[b-ype802aed8],
    .btn-cancel[b-ype802aed8] {
        width: 100%;
    }
}