.soap-container[b-w0dpjrojqt] {
    padding: 20px;
    color: #e5e7eb;
}

/* HEADER */
.header[b-w0dpjrojqt] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: teal
}

/* ACTION BUTTONS */
.actions[b-w0dpjrojqt] {
    display: flex;
    gap: 10px;
}

.btn-save[b-w0dpjrojqt] {
    background: #10b981;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.btn-ai[b-w0dpjrojqt] {
    background: #6366f1;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

/* GRID */
.soap-grid[b-w0dpjrojqt] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* CARDS */
.soap-card[b-w0dpjrojqt] {
    background: white;
    padding: 15px;
    border-radius: 10px;
    color: teal
}

/* TEXTAREA */
textarea[b-w0dpjrojqt] {
    width: 100%;
    height: 120px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    resize: none;
    background: white;
    color: teal;
}

/* HOVER EFFECTS */
.btn-save:hover[b-w0dpjrojqt] {
    background: #059669;
}

.btn-ai:hover[b-w0dpjrojqt] {
    background: #4f46e5;
}