.billing-container[b-k6hc8v87vg] {
    padding: 20px;
    color: teal;
}

/* SUMMARY */
.summary-row[b-k6hc8v87vg] {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.summary-card[b-k6hc8v87vg] {
    background: teal;
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
}

/* TABLE */
.table-card[b-k6hc8v87vg] {
    background: white;
    border: 1px solid teal;
    padding: 20px;
    border-radius: 10px;
}

.styled-table[b-k6hc8v87vg] {
    width: 100%;
    border-collapse: collapse;
}

.styled-table th[b-k6hc8v87vg] {
    background: #e0f7f5;
    padding: 10px;
    border: 1px solid teal;
}

.styled-table td[b-k6hc8v87vg] {
    padding: 10px;
    border: 1px solid teal;
}

tr:hover[b-k6hc8v87vg] {
    background: #f5fdfc;
}

/* STATUS */
.status[b-k6hc8v87vg] {
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
}

.status.paid[b-k6hc8v87vg] {
    background: #d4edda;
}

.status.pending[b-k6hc8v87vg] {
    background: #fff3cd;
}

.status.overdue[b-k6hc8v87vg] {
    background: #f8d7da;
}

/* BUTTON */
.btn-primary[b-k6hc8v87vg] {
    background: teal;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btn-primary:hover[b-k6hc8v87vg] {
    background: #0f7f7a;
}

/* PAID TEXT */
.paid-text[b-k6hc8v87vg] {
    color: green;
    font-weight: bold;
}
.billing-container[b-k6hc8v87vg] {
    padding: 20px;
    color: teal;
}

/* SUMMARY */
.summary-row[b-k6hc8v87vg] {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.summary-card[b-k6hc8v87vg] {
    background: teal;
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
}

/* TABLE */
.table-card[b-k6hc8v87vg] {
    background: white;
    border: 1px solid teal;
    padding: 20px;
    border-radius: 10px;
}

.styled-table[b-k6hc8v87vg] {
    width: 100%;
    border-collapse: collapse;
}

.styled-table th[b-k6hc8v87vg] {
    background: #e0f7f5;
    padding: 10px;
    border: 1px solid teal;
}

.styled-table td[b-k6hc8v87vg] {
    padding: 10px;
    border: 1px solid teal;
}

tr:hover[b-k6hc8v87vg] {
    background: #f5fdfc;
}

/* STATUS */
.status[b-k6hc8v87vg] {
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
}

.status.paid[b-k6hc8v87vg] {
    background: #d4edda;
}

.status.pending[b-k6hc8v87vg] {
    background: #fff3cd;
}

.status.overdue[b-k6hc8v87vg] {
    background: #f8d7da;
}

/* BUTTON */
.btn-primary[b-k6hc8v87vg] {
    background: teal;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btn-primary:hover[b-k6hc8v87vg] {
    background: #0f7f7a;
}

/* PAID TEXT */
.paid-text[b-k6hc8v87vg] {
    color: green;
    font-weight: bold;
}