.patient-dashboard[b-l3jrxrgrs2] {
    padding: 20px;
    color: teal;
}

/* HEADER */
.dashboard-header[b-l3jrxrgrs2] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-right[b-l3jrxrgrs2] {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar[b-l3jrxrgrs2] {
    background: teal;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

.notification[b-l3jrxrgrs2] {
    font-size: 18px;
}

/* GRID */
.dashboard-grid[b-l3jrxrgrs2] {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

/* CARD */
.card[b-l3jrxrgrs2] {
    background: white;
    border: 1px solid teal;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    color:teal
}

.card h4[b-l3jrxrgrs2] {
    margin-bottom: 10px;
}

/* HIGHLIGHT CARD */
.highlight[b-l3jrxrgrs2] {
    background: #f5fdfc;
}

/* HEALTH GRID */
.health-grid[b-l3jrxrgrs2] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.health-grid div[b-l3jrxrgrs2] {
    background: #e6f7f6;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

/* TABLE */
table[b-l3jrxrgrs2] {
    width: 100%;
    border-collapse: collapse;
}

th[b-l3jrxrgrs2], td[b-l3jrxrgrs2] {
    padding: 8px;
    border-bottom: 1px solid teal;
}

/* QUICK LINKS (UPDATED SMALL LINKS) */
.quick-links[b-l3jrxrgrs2] {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quick-links a[b-l3jrxrgrs2] {
    text-decoration: none;
    color: teal;
    font-size: 14px;
    padding: 5px 0;
    border-bottom: 1px dashed #ccc;
}

.quick-links a:hover[b-l3jrxrgrs2] {
    color: #0f7f7a;
}

/* NOTIFICATIONS */
.notification-list[b-l3jrxrgrs2] {
    list-style: none;
    padding: 0;
}

.notification-list li[b-l3jrxrgrs2] {
    margin-bottom: 8px;
}

/* BUTTON */
.btn-primary[b-l3jrxrgrs2] {
    background: teal;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* LINK */
.link[b-l3jrxrgrs2] {
    color: teal;
    font-size: 14px;
    text-decoration: none;
}
